*{
    margin:0px;
    padding: 0px;
    outline:2px solid  ellow;
}
body{
    margin:0px;
}

/* ________________LINK STYLING______________________*/

/* styling and positioning the link container */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    position:fixed;
    top: 200px;  
}

/* styling the link */
li a {
    display: block;
    color:pink;
    padding: 15px 200px;
    text-decoration: none;
    font-size: 40px;
    text-shadow: pink 5px 5px 10px;
    transition:0.8s;
    
}

/* link gets larger on hover */
li a:hover {
    font-size: 45px;
    box-shadow:pink 10px 10px 15px ;
    
}

/* ________________GLASS______________________*/
/* glass in front of gradient containers.This adds a blur effect */
#glass{
    height: 100vh;
    width: 100vw;
    background-color:rgba(255,255,255,0.2);

    backdrop-filter: blur(10px);
    
    position:fixed;
    }
    
/* ________________SLOGAN______________________*/
.slogan{
    display:inline-block;
    /* transform: translate(1000px, -2800px); transform-origin: 50% 50%; */
   
    text-align:center;
    position: absolute;
    top: 70px;
    left:850px;
    width:800px;

}

.slogan-corner{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slogan-text{
    font-size:60px ;
    color: pink;


}

/* ________________CONTENT______________________*/
.content{
    width:700px ;
    display: grid;
    gap:20px 0px;
    grid-template-columns:repeat(2,2fr);
    position:absolute;
    top:270px ;
    right: 300px;
}
.content-glass{
    height: 300px;
    margin:0px 20px ;
    background-color:rgba(178, 174, 174, 0.3);
    backdrop-filter: blur(40px);
    border-radius:10%;
    box-shadow: pink 5px 5px 20px; 
    transition:0.5s;
}

/* .content-glass:hover{
    box-shadow:grey 10px 15px 15px, rgba(255, 255, 0, 0.209) 20px 25px 25px ;
    
} */


 .content-glass:hover{
    box-shadow: rgb(255, 151, 168) 20px 20px 30px ;
    
}


.image-in-glass {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;

     /* grid-template-columns:repeat(1,1fr); */

  
}



.vertical-rule{
    position:absolute;
    top:0px;
    left:500px;
    width: 2px;
    height: 100vh;
    background-image:linear-gradient(#CCFF66,#FF6392,#7F557D,#607EAA,#1C3879);
    background-size: 200% 500%;
    animation:vrule 20s ease-in-out infinite;
}

@keyframes vrule{
    0%{
        background-position:0% 100% ;
    }
    50%{
        background-position:100% 0% ;
      
    }
    100%{
        background-position:0% 100% ;
        
    }
}

.grad-pic{
    position:fixed;
    right:-350px;
    transform:scale(1.1);
    z-index:-10;
    animation: gra-pic 50s ease-in-out infinite;

}

@keyframes gra-pic{
    /* up */

    0%{
        right:-350px;
        top:0px;
    }
    10%{
        right:-350px;
        top:-500px ;
    }
 /* pause */
    15%{
        right:-350px;
        top:-500px ;
    }
  /* up */
    30%{
        right:-350px;
        top:-900px;  
    }
/* slowly move left */
    60%{
        right:0px;
        top:-900px;  
    }
/* down */
    70%{
        right:0px;
        top:-300px;  
    }
/* pause */
    80%{
        right:0px;
        top:-300px;  
    }
/* down */
    85%{
        right:0px;
        top:0px;  
    }

 /* back to origin */
    80%{
        right:-350px;
        top:0px;  
    }
}





/*****************************************************/

/* _________________GRADIENT EFFECT______________________*/

/* general styling for both gradient containers */
.grad-gen{
    margin:0px;
    /* positioning */
    position:fixed;
    width: 20px;
    height: 20px;
    /* creating gradient */
    background-image: radial-gradient(circle at 15% 100%,#1C3879,
    #607EAA,
    #7F557D,
    #FF6392,#CCFF66);
    /*extra styling */
    background-size: 200% 500%; 
    border-radius:30%;
    /* putting gradient behind glass */
    z-index:-5;
    /* creating animation */

}


  /* specific styling for first gradient container */
#grad-0{
    left:200px;
    opacity:100%;
    background-image: radial-gradient(circle at 15% 100%,#CCFF66,#FF6392,#7F557D, #607EAA,#1C3879);
    animation: rotation 20s ease-in-out infinite ;
    box-shadow: #000;
    opacity: 40%;
}

/*specific styling for second gradient container */
#grad-1{
    
    transform: rotate(75deg);
    background-image: radial-gradient(circle at 15% 100%,#CCFF66,#FF6392,#7F557D #607EAA,#1C3879,);
    animation:change 20s ease-in-out infinite;
    opacity: 50%;
  
}



/* key frames to define animation movement */
@keyframes change{
    0%{
        background-position:0% 100% ;
        top:715px;
        transform:rotate(0deg);
        transform: scale(3);
       
    }
    50%{
        background-position:100% 0% ;
        top:380px;
        transform:rotate(180deg);
        transform: scale(1);
    }
    100%{
        background-position:0% 100% ;
        top:715px;
        transform:rotate(360deg);
        transform: scale(3);
    }
}

@keyframes rotation{

    0%{
        background-position:0% 100% ;
         top:950px; 
         transform:rotate(0deg); 
         transform: scale(1);
    }
    40%{
        transform: scale(4);
        top:0px;

    }
    70%{
        background-position:100% 0% ;
        
        rotate:(180deg) ;
        transform: scale(2);
    }
    
    100%{
        background-position:0% 100% ;
         top:950px;
         transform:rotate(360deg);
         transform: scale(1);
       
    }


}














